*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Berkshire Swash", serif;
}

/* .header1{
    padding: 30px;
} */

ul li{
    font-family: "Jost", serif;
} 

ul li a{
    font-family: "Jost", serif;
} 


h3, h4, h5, h6{
    font-family: "Jost", serif;
}


p{
    font-family: "Jost", serif;
    color: #7A7C81;
    font-size: 17px;
}

h2{
    font-family: "EB Garamond", serif;
}


.hero-sec{
    height: 500px;
    background: url(../images/hero-sec.png) rgba(52, 52, 52, 0.9);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.header2{
    display: none;
}

.header1{
    padding: 18px 0;
    border-bottom: 1px solid #433D38;
}

.header1 .nav-item a{
    color: #ffffff;
    font-size: 20px;
}

.dropdown-menu li{
    padding: 7px 7px;
    /* border-bottom: 1px solid;
    border-color: #8a8a8a; */
    background-color: transparent;
    border-bottom: 1px solid #8a8a8a;
}

.header1 .dropdown-menu li a{
    font-size: 15px !important;
    color: #000000 !important;
}

.header1 .icon-area-1{
    /* padding-top: 20px; */
    display: flex !important;
    gap: 10px !important;
    align-items: center !important;
}

.icon-area-1 .fa-solid{
    font-size: 25px;
}

.icon-area-1 .fa-regular{
    font-size: 25px;
}

.header1 .row .rgt{
    /* padding-top: 20px; */
    display: flex !important;
    gap: 10px !important;
}

.header1 .row .rgt h4 a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.fa-person{
    font-size: 25px;
}

.hero-sec .bottom{
    padding: 150px 0;
    text-align: center;
    margin: 0 auto;
}

.hero-sec .bottom h1{
    font-size: 45px;
    color: #ffffff;
}

.hero-sec .bottom .lst-sec{
    padding-top: 10px;
    display: flex !important;
    gap: 10px !important;
}

.hero-sec .bottom .lst-sec h5 a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.hero-sec .bottom .lst-sec h5{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.sec-1{
    padding: 70px 0;
}

.sec1-left-col .fst{
    padding: 30px 20px;
    box-shadow: 0 2px 8px rgba(199, 195, 195, 0.8);
    border-radius: 20px;

}

#slct-bttn{
    padding: 10px 20px;
    width: 40%;
    border-radius: 5px;
    border: 1px solid #ECF0F5;
    color: #5A5D63;
}

.sec1-left-col .fst .srch-area{
    padding-top: 70px;
}

.sec1-left-col .fst .srch-area h3{
    text-align: center;
    margin: 0 auto;
}

.srch-div{
    padding-top: 20px;
    display: flex !important;
    justify-content: center !important;
}

#srch-box{
    padding: 12px 10px;
    padding-right: 50px;
    width: 100%;
    border-radius: 10px 0 0 10px;
    background-color: #ECF0F5;
    border: none;
}

#srch-bttn{
    padding: 12px 20px;
    padding-right: 30px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #FD9900;
    color: #ffffff;
}

.sec1-left-col .scnd{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 20px;
    box-shadow: 0 2px 8px rgba(199, 195, 195, 0.8);
    border-radius: 20px;
}

.sec1-left-col .scnd h3{
    text-align: center;
    margin: 0 auto;
}

.menu-bar{
    padding-top: 20px;
}

button, optgroup, textarea{
    font-family: "Jost", serif !important;
    font-size: 17px !important;
    font-weight: 600 !important;
}

/* .accordion-button{
    color: #FD9900;
} */

.accordion-item{
    border: none !important;
    margin-top: 20px;
    
}

.accordion-button {
    padding: 10px 10px !important;
    border: 1px solid #ECF0F5 !important;
    border-radius: 10px !important;
}
.accordion-button:not(.collapsed){
    background-color: transparent !important;
    color: #000000 !important;
} 

.accordion-body ul{
    text-align: center;
    list-style-type: none;
}

.accordion-body ul li{
    border-bottom: 1px solid #dbdcdd;
    padding: 10px 0;
    font-size: 17px;
    cursor: pointer;
}

.accordion-body ul li:hover{
    background-color: #F4F4F4;
    color: #FD9900;
}

.accordion-button:focus{
    box-shadow: none !important;
}

.list-group-item.active{
    background-color: #F4F4F4 !important;
    color: #FD9900 !important;
}

.sec1-left-col .thrd{
    margin-top: 20px;
    padding: 30px 20px;
    box-shadow: 0 2px 8px rgba(199, 195, 195, 0.8);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}

.form-range {
    width: 70% !important;
    padding-top: 20px !important;
}

#slct-bttn option{
    background-color: #F4F4F4;
    color: #FD9900;
}









.sec1-left-col .frth{
    margin-top: 20px;
    padding: 30px 20px;
    box-shadow: 0 2px 8px rgba(199, 195, 195, 0.8);
    border-radius: 20px;
}

.sec1-left-col .frth .top{
    padding-top: 30px;
    display: flex !important;
    gap: 10px;
}

.sec1-left-col .frth .bttm{
    padding-top: 5px;
    display: flex !important;
    gap: 10px;
}

.sec1-left-col .frth h6{
    padding: 8px 25px;
    border: 1px solid #ECF0F5;
    border-radius: 5px;
    
}

.sec1-left-col .frth h6:hover{
    background-color: #FD9900;
}

.sec1-left-col .frth h6 a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.sec1-left-col .frth h6 a:hover{
    color: #ffffff;
}

.sec1-left-col .fifth{
   margin-top: 20px;
}

.sec1-left-col .fifth img{
    width: 100%;
}

.sec1-right-col h5{
    color: #606369;
    font-size: 17px;
    padding: 30px 0;
}

.sec1-right-col .top{
    display: flex !important;
    gap: 10px !important;
}


.sec1-right-col .bttm{
    margin-top: 30px;
    display: flex !important;
    gap: 10px !important;
}
.details{
    /* margin-top: 20px; */
    padding: 30px 20px;
    box-shadow: 0 2px 8px rgba(199, 195, 195, 0.8);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}

#menu{
    border: dotted;
    border-radius: 50%;
    padding: 6px 6px;
    border-color: #FD9900;
    border-width: thin;
}

.sec1-right-col h2{
    font-size: 22px;
    font-weight: 600;
    padding-top: 15px;
}

.sec1-right-col h6{
    font-weight: 300;
    font-size: 14px;
}

.sec1-right-col h3{
    font-family: "EB Garamond", serif;
    font-size: 28px;
    font-weight: 700;
}



#stats{
    width: 20%;
}

#order-bttn{
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #FD9900;
    border: none;
    border-radius: 10px;
}

#order-bttn a{
    text-decoration: none;
    color: #ffffff;
}

.sec-2{
    padding-top: 70px;
}


.ft{
    height: 550px;
    padding: 70px 0;
    background-image: url(../images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ft .fst-row{
    margin-bottom: 50px;
} 

.ft .fst-row h2{
    color: #ffffff;
    font-weight: 600;
    padding-left: 30px;
}

.ft .fst-row ul{
    list-style-type: none;
}

.ft .fst-row li{
    padding-top: 10px;
}

.ft .fst-row ul li a{
    color: #DEDFDC;
    text-decoration: none;
    font-size: 18px;
}

.ft .fst-row ul li a:hover{
    color: #873A2D;
}
.footer-lst{
    width: 80%;
    height: 330px;
    background-color: #383639;
    padding: 30px 25px;
    border-radius: 20px;
   margin-left: 80px;
}

.footer-lst .top{
    height: 200px;
    background-image: url(../images/footer-subscribe-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 25px;
    border-radius: 20px;
}
.footer-lst .top p{
    color: #ffffff;
}

.footer-lst .top h1{
    color: #ffffff;
    font-size: 45px;
    padding: 5px 0;
}

#ft-mail{
    padding: 13px 10px;
    width: 70%;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

#ft-sub{
    padding: 13px 10px;
    width: 26%;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: #FD9900;
    color: #ffffff;
    margin-left: 10px;
    font-weight: 600;
}

.lst-row{
    border-top: 1px solid #414348;
    padding: 20px 0;
}

/* .row13 .ft-middle-area{
    text-align: center;
} */

.ft-middle-area ul{
    list-style-type: none;
    display: flex !important;
    gap: 20px !important;
    justify-content: center !important;
}

.ft-middle-area ul li a{
text-decoration: none;
color: #DEDFDC;
}

.lst-row .ft-middle-area ul li a:hover{
    color: #FD9900;
}

.lst-row .ft-icon-area{
    justify-content: right;
    display: flex !important;
    gap: 20px !important;
}

.ft-icon-area a .fa-brands:hover{
    color: #FD9900 !important;
}





@media only screen and (max-width:500px){

    .header1{
        display: none;
    }

    .header2{
        display: block;
        background-color: #000000;
        padding: 20px 0;
    }

    .navbar-toggler-icon{
        color: #FD9900 !important;
    }

    .fa-bars{
        font-size: 32px;
    }

    .navbar-nav{
        background-color: #FD9900;
    }

    .nav-item a{
        font-size: 22px;
        color: #ffffff;
        font-weight: 600;
        padding-left: 20px;
    }

    .nav-item .dropdown-menu{
        border: none;
        background-color: transparent;
        
    }

    .header2 .dropdown-menu li a {
        font-size: 15px;
        color: #f4ebeb;
        font-weight: 400;
    }

    .header2 .dropdown-menu li{
        border-bottom: 1px solid #000000;
    }

    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
        color: #ffffff;
    }

    .hero-sec .bottom h1{
        font-size: 35px;
    }

    .sec1{
        padding: 30px 20px;
    }

    #srch-box{
        width: 100%;
    }

    #srch-bttn{
        font-size: 12px;
        /* width: 100%; */
        padding: 12px;
        width: 100%;
    }

    .sec1-left-col .frth h6 a{
        font-size: 12px;
    }

    .sec1-left-col h3{
font-size: 20px;
    }

    button, optgroup, textarea{
        font-size: 15px !important;
    }

    .sec1-right-col{
        padding-top: 30px;
    }

    .details{
        padding: 30px 40px;
    }

    .sec1-right-col .top{
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column !important;
        gap: 30px !important;
    }

    .sec1-right-col .bttm{
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column !important;
        gap: 30px !important;
    }

    

    .ft{
        height: 1370px;
        padding: 50px 20px;
    }
    
    .ft .fst-row{
        display: flex !important;
        gap: 30px !important;
    }
    
    .footer-lst{
        width: 100%;
       margin: 0;
    }
    
    
    
    .footer-lst .top h1{
        font-size: 35px;
    }
    
    
    .ft-logo-area{
        text-align: center;
        margin: 0 auto;
    }
    
    
    
    .lst-row .ft-middle-area{
        padding-top: 20px;
    }
    
    .lst-row .ft-icon-area{
        padding-top: 10px;
    }
    
    .ft-middle-area ul{
        padding: 0;
    }
    

    #ft-mail{
        width: 65%;
    }
    


}

@media only screen and (min-width:501px) and (max-width:768px){

    .header1{
        display: none;
    }

    .header2{
        display: block;
        background-color: #000000;
        padding: 20px 0;
    }

    .navbar-toggler-icon{
        color: #FD9900 !important;
    }

    .fa-bars{
        font-size: 32px;
    }

    .navbar-nav{
        background-color: #FD9900;
    }

    .nav-item a{
        font-size: 22px;
        color: #ffffff;
        font-weight: 600;
        padding-left: 20px;
    }

    .nav-item .dropdown-menu{
        border: none;
        background-color: transparent;
        
    }

    .header2 .dropdown-menu li a {
        font-size: 15px;
        color: #f4ebeb;
        font-weight: 400;
    }

    .header2 .dropdown-menu li{
        border-bottom: 1px solid #000000;
    }

    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
        color: #ffffff;
    }

    .hero-sec .bottom h1{
        font-size: 35px;
    }

    .sec1{
        padding: 30px 150px;
    }

    #srch-box{
        width: 100%;
    }

    #srch-bttn{
        font-size: 12px;
        /* width: 100%; */
        padding: 12px;
        width: 100%;
    }

    .sec1-left-col .frth h6 a{
        font-size: 17px;
    }

    .sec1-left-col h3{
font-size: 26px;
    }

    button, optgroup, textarea{
        font-size: 17px !important;
    }

    .sec1-right-col{
        padding-top: 30px;
    }

    .details{
        padding: 30px 40px;
        /* width: 70%; */
    }

    .sec1-right-col .top{
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column !important;
        gap: 30px !important;
    }

    .sec1-right-col .bttm{
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column !important;
        gap: 30px !important;
    }



    .ft{
        height: 1370px;
        padding: 50px 150px;
    }
    
    .ft .fst-row{
        display: flex !important;
        gap: 30px !important;
    }
    
    .footer-lst{
        width: 100%;
       margin: 0;
    }
    
    
    
    .footer-lst .top h1{
        font-size: 35px;
    }
    
    
    .ft-logo-area{
        text-align: center;
        margin: 0 auto;
    }
    
    
    
    .lst-row .ft-middle-area{
        padding-top: 20px;
    }
    
    .lst-row .ft-icon-area{
        padding-top: 10px;
    }
    
    .ft-middle-area ul{
        padding: 0;
    }

    #ft-mail{
        width: 65%;
    }
    

}
